# DB
POSTGRES_PASSWORD=
POSTGRES_USER=
POSTGRES_DB=

#DJANGO
DB_ENGINE=
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=
SECRET_KEY=

#RABBITMQ
RABBITMQ_USER=
RABBITMQ_PASSWORD=
RABBITMQ_HOST=
RABBITMQ_PORT=

#CELERY TASK SETTINGS
CELERY_TASK_TIMEOUT=
CELERY_TASK_RETRY_TIME=

#REDIS
REDIS_HOST=
REDIS_PORT=

#CURRENCY
CURRENCY_COURSES_URL=

#SENTRY
SENTRY_DSN=

#ENV NAME for sentry environment
SENTRY_ENV=

#YOOKASSA
YOOKASSA_ACCOUNT_ID=
YOOKASSA_SECRET_KEY=
YOOKASSA_RETURN_URL=